[submodule "submodules/essentials-extensions"]
	path = submodules/essentials-extensions
	url = https://bitbucket.org/Pepperdash_Products/pdt-essentials-extensions.git
[submodule "submodules/essentials-builds"]
	path = submodules/essentials-builds
	url = https://bitbucket.org/Pepperdash_Products/essentials-builds.git
	branch = release
